body {
  background-color: #444;
  background-image: url(6a11b6546418c735d306480f08b0a22e.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8rem; }

